body{
  background-color: #A9BCD0;
}

.page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9; /* Example background color */
  left: -100%; /* Start the page off the left side of the screen */
  transition: left 0.5s ease; /* Define the transition property */
}

.page.active {
  left: 0; /* Move the page to its normal position */
}

.page.slide-in {
  transform: translateX(0);
}

/* Slide-out effect */
.page.slide-out {
  transform: translateX(-100%);
}

.navbar, .navbar-items{
  background-color: #D8DBE2;
}

.Home-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.About-section{
  height: 150vh;
}

.About-section .about-me{
  word-spacing: 2px;
}

.Projects-section{
  height: 100vh;
}

.skills{
  background: linear-gradient(135deg, #F7F3E3, #AF9164);
  background-size: 150% 150%;
  width: 100%;
  height: 25%;
}

footer{
  background-color: #D8DBE2;
  height: 65px;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in forwards;
}

main {
  position: relative;
  overflow-x: hidden; /* Prevent content from overflowing horizontally */
}

/* Add styles for the page transition */
.page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  transition: left 0.5s ease; /* Add a transition for left position change */
}

/* Slide-in effect from the left */
.page.slide-in {
  left: 0;
}

/* Slide-out effect to the left */
.page.slide-out {
  left: -100%; /* Slide the page out to the left side */
}